# ignore jupyter notebook checkpoints
**.ipynb_checkpoints/

# ignore eggs (user can run pip install -e .) to create those
CAMELS_FI.egg-info

# Exclude cached bytecodes, since those are not meant for sharing
**__pycache__/
